<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>step1</title>
<script type="text/javascript">
var i = 0;
	function add() 
	{
		
		var inputText = document.createElement('input');
		inputText.setAttribute('type', 'text');
		inputText.setAttribute('name', ++i);
		inputText.setAttribute('class', 'inputText');
		var btn = document.getElementById("org");
		btn.insertBefore(inputText, null);
	}
</script>
</head>
<body>
	<div id = "org">
	<form action="controller/FormServlet" method="post">
		
		<table border="0" align ="center" id = table>
			<tr>
				<td>num of columns:</td>
				<td>
					<input type = "text" name ="nums">
				</td>
			</tr>
			<tr>
				<td>upload by:</td>
				<td>
					<input name = "uploadName" type="text" id = "uploadName" size="20">
				</td>
			</tr>
			<tr>
				<td>upload file:</td>
				<td>
					<input name = "file" type ="file" size ="20">
				</td>	
			</tr>
			<tr>
				<td>
					<input type="submit" name="submit" value ="submit">
					<input type="reset" name = "reset" value ="reset">
					<input type="button" onclick ="add()" value="addParameter"/>
				</td>
			</tr>
		</table>
	</form>
	</div>
</body>
</html>